<section>
    <article class="content_img">
        <img src="assets/images/user3.jpg" alt="user">
        <div class="content_legende">
            <h2>Contactez-Nous</h2>
        </div>
    </article>

    <article class="content_form">

        <section class="section pb-5">

            <div class="row">

                <!--Grid column-->
                <div class="col-lg-5 mb-4">

                    <!--Form with header-->
                    <div class="">

                        <div class="card-body">
                            <!--Body-->
                            <div class="md-form">
                                <input type="text" id="form-name" class="form-control" placeholder="NOM *">
                                <label for="form-name"></label>
                            </div>

                            <div class="md-form">
                                <input type="text" id="form-lastname" class="form-control" placeholder="Prénom * ">
                                <label for="form-email"></label>
                            </div>

                            <div class="md-form">
                                <input type="email" id="form-email" class="form-control" placeholder="Email * ">
                                <label for="form-Subject"></label>
                            </div>

                            <div class="md-form">
                                <input type="text" id="form-Subject" class="form-control" placeholder="Téléphone * ">
                                <label for="form-Subject"></label>
                            </div>

                            <div class="md-form">
                                <textarea id="form-text" class="form-control md-textarea" rows="3" placeholder="Message * "></textarea>
                                <label for="form-text"></label>
                            </div>

                            <div class="text-center mt-4">
                                <button class="btn btn_valide">Envoyer</button>
                            </div>

                        </div>

                    </div>
                    <!--Form with header-->

                </div>
                <!--Grid column-->

                <div class="col-lg-7">
                    <!--Google map-->
                    <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 96%">
                        <iframe src="https://maps.google.com/maps?q=18%20rue%20de%20dunkerque%2075010%20paris&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <br>
                </div>

            </div>

        </section>

    </article>
</section>
<app-footer></app-footer>