<!-- my-first-section -->

<div class="content_img mb-3">
  <img src="../../assets/images/salon4.jpg" alt="salonOffice" class="img-fluid">
  <div class="content_legende">
    <div class="content_info">
      <h1 class="my-title">Nos offres de coworking à Paris.</h1>
      <p class="textdouverture">Nous proposons des offres et des services qui permettent d'alléger les charges
        quotidiennes de la vie intra et extrapreunariale.
      </p>
    </div>
  </div>
</div>
<!-- end of my-first-section -->

<!-- my-second-section -->
<div class="container mt-5 mb-3">
  <div class="row" *ngFor="let salon of loadSalon[0] | slice: 0:1; let i = index">
    <div class="col-md-6">
      <img src="{{'https://localhost:8000' + salon.image.contentUrl}}" alt="section2" class="w-100">
    </div>

    <div class="col-md-6 myTitle">
      <h2 class="text-center">{{salon.nomSalon}}</h2>
      <p class="sub_title mt-3">{{salon.descriptionSalon}}</p>
      <div class="content_btn text-center">
        <button class="btn my-btn w-50" [routerLink]="salon.id">Réserver</button>
      </div>
    </div>
  </div>
</div>
<!-- end my-second-section -->

<!-- my-third-section -->
<div class="my-row">
  <div class="container">
    <h2 class="text-center private-room">Nos salons privés</h2>
    <div class="row">
      <div class="col-md-4 my-card" *ngFor="let salon of loadSalon[0]">
        <div class="card m-3" style="width: 18rem;">
          <img src="{{'https://localhost:8000' + salon.image.contentUrl}}" class="card-img-top w-100 img-fluid"
               alt="{{salon.nomSalon}}">
          <div class="card-body">
            <h5 class="card-title text-center">{{salon.nomSalon}}</h5>
            <p class="card-text">{{salon.descriptionSalon}}</p>
            <p class="card-text">Nombre de places : {{salon.nombrePlaces}}</p>
            <p class="card-text">A partir de {{salon.prix}}€/H</p>
            <button class="btn w-100 monBtn" [routerLink]="salon.id">Réserver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end my-third-section -->

<!--  my-four-section -->
<div class="container my-4 my-section2">
  <h2 class="text-center">Nos équipements et services inclus</h2>
  <div class="row">
    <div class="mt-3 col-md-4">
      <div class="d-block">
        <h4>Services</h4>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/reception-min.png" alt="acceuil">
          <p class="m-2">acceuil des invités</p>
        </div>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/consergerie-min.png" alt="conciergerie">
          <p>Conciergerie</p>
        </div>
      </div>
    </div>
    <div class="mt-3 col-md-4">
      <div class="d-block">
        <h4>Bien-être</h4>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/Food.png" alt="food">
          <p>Snack sucré & salé</p>
        </div>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/coffee-min.png" alt="coffee">
          <p>Café & thé</p>
        </div>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/tel-min.png" alt="tel">
          <p>Cabines téléphoniques</p>
        </div>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/clean-min.png" alt="clean">
          <p>Nettoyage des espaces de travail</p>
        </div>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/micro-min.png" alt="micro">
          <p>Evénements et conférences</p>
        </div>
      </div>
    </div>
    <div class="mt-3 col-md-4">
      <div class="d-block">
        <h4>Équipement</h4>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/wifi-min.png" alt="wifi">
          <p>Wifi très haute débit et sécurisée</p>
        </div>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/app-min.png" alt="app">
          <p>Application dédiée</p>
        </div>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/printer-min.png" alt="printer">
          <p>Impressions</p>
        </div>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/burautique-min.png" alt="bureautique">
          <p>Vente de support numériques</p>
        </div>
        <div class="d-flex">
          <img class="w-25 h-25" src="../../assets/images/calendar-min.png" alt="calendar">
          <p>Réservation en ligne</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
