@font-face {
  font-family: "calibrib";
  src: url("./calibrib.ttf") format("opentype");
}

@font-face {
  font-family: "Iskra";
  src: url("./036c96d45bda02aae2af3b5077446f57.ttf") format("opentype");
}
